body {
	background-color: #e0e0e0;
	font-family: Arial;
	margin: 0;
	padding: 20px
}

.calculator {
	background: linear-gradient(to bottom, #5dade2, #3498db);
	width: 300px;
	padding: 20px;
	border-radius: 25px;
	margin: 40px auto;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

#screen {
	width: 100%;
	height: 55px;
	background-color: #d6eaf8;
	border: none;
	border-radius: 12px;
	font-size: 28px;
	text-align: right;
	padding: 8px 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	color: #333;
}

.buttonGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

button {
	padding: 25px;
	font-size: 22px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	background-color: #2980b9;
	color: white;
	font-weight: 600
}

button:hover {
	opacity: 0.9;
}

button:active {
	transform: translateY(2px);
}

.opBtn {
	background-color: #21618c;
}

.opBtn {
	background-color: #1a5276;
}